<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>学生管理系统</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/static/css/font-awesome.min.css}" rel="stylesheet">



    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link th:href="@{/static/css/ie10-viewport-bug-workaround.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/static/css/style.css}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->

    <!--[if lt IE 9]> <script th:src="@{/static/js/lib/ie8-responsive-file-warn.js}"></script><![endif]-->
    <script th:src="@{/static/js/lib/ie-emulation-modes-warning.js}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script th:src="@{/static/js/lib/ml5shiv.min.js}"></script>
    <script th:src="@{/static/js/lib/respond.min.js}"></script>
    <![endif]-->
    <script type="text/javascript">
        function logout() {
            window.location.href="/stu/logout";
        }
    </script>
</head>

<body>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <div class="left_header">
                <p class="headImg"><img th:src="@{/static/images/tx.png}" alt=""></p>
                <p class="userName" th:text="${session.studentName}">admin</p>
                <p class="admin_class">(学生管理员)</p>
                <p class="logout"><input type="button" value="注销" onclick="logout()"></p>
            </div>

            <ul class="nav nav-sidebar">
                <li class="active1"><a th:href="@{/stu/student}" target="menuFrame">学生查询</a></li>
                <li class="active1"><a th:href="@{/res/result}" target="menuFrame">成绩查询</a></li>
                <li class="active1"><a th:href="@{/stu/a}" target="menuFrame">科目查询</a></li>
            </ul>

            <div class="left_footer">
                <img th:src="@{/static/images/logo-footer.png}" alt="">
            </div>

        </div>

        <!--left-->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <div class="placeholder page-header">
                <span class="h2">欢迎登录</span>
                <span class="setIcon pull-right">

                <a href="javascript: window.location.reload();"><span class="glyphicon glyphicon-refresh"></span></a>
                <a href="javascript:;"><span class="glyphicon glyphicon-cog"></span></a>
                <a data-toggle='modal' data-target='#myModal'><span class="glyphicon glyphicon-envelope"></span></a>
                </span>
            </div>

            <iframe id="menuFrame" name="menuFrame" src="" scrolling="no" frameborder="no" width="100%" style="min-height:600px">

            </iframe>

        </div>
    </div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    发送密函
                </h4>
            </div>
            <div class="modal-body">
                <form name="placeEmail" enctype="multipart/form-data" method="post" th:action="@{/email/sendEmail}">
                    <div class="form-group">
                        <label for="email">邮箱</label>
                        <input type="text" class="form-control" id="email" name="email" placeholder="邮箱" required >
                    </div>
                    <div class="form-group">
                        <label for="title">主题</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="主题" required >
                    </div>
                    <div class="form-group">
                        <label for="file">附件</label>
                        <input type="file" class="form-control" id="file" name="file" required >
                    </div>
                    <div class="form-group">
                        <label for="context">内容</label>
                        <textarea id="context" name="context" cols="35" rows="10" class="form-control" placeholder="请输入内容"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary" id="send">发送</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/static/js/lib/jquery-1.12.4.js}"></script>
<script th:src="@{/static/js/lib/bootstrap.min.js}"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script th:src="@{/static/js/lib/holder.min.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script th:src="@{/static/js/lib/ie10-viewport-bug-workaround.js}"></script>
<script>
    $(function () {

        var oNav = $('.nav-sidebar li');

        for (var i=0;i<oNav.length;i++)
        {
            oNav[i].onclick = function()
            {
                for (var i=0;i<oNav.length;i++)
                {
                    oNav[i].className="active1";
                }
                this.className="active";
            };
        };

    })

</script>
</body>
</html>
